/* Element Selector */
body { 
    background-image: url('https://cdn.wallpapersafari.com/53/14/qr5C0P.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    text-align: center;
    font-size: 50px; 
    color: #222c47;
    text-shadow: 5px 5px 5px #08bade;
    font-weight: bold;
    font-family: serif;
    padding: 10px;
    margin-top: 20px; 
}
h2 {
    color: #333;
    border-left: 8px solid #ff4155; 
    padding-left: 15px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    padding-top: 5px;
    padding-bottom: 5px;
}

a {
    color: #d63031;
    font-weight: bold;
}
a:hover {
    color: #000; 
    background-color: #ff4155; 
    color: white;
    padding: 2px 5px;
    border-radius: 4px;
}
button {
    background-color: #ff4155; 
    color: white;
    border: 2px solid #000;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #000; 
    color: #ff4155; 
    border-color: #ff4155;
}
/* Class Selector */
.bg_white {
    width: 90%; 
    border: 2px solid #ff4155; 
    padding: 15px;
    word-wrap: break-word;   
    background-color: #fff0f0; 
    margin: auto;   
}
.highlight {
    width: 80px;
    background-color: yellow;
}
.box_message{
    width: 90%; 
    border: 2px solid #ff4155; 
    padding: 15px;
    word-wrap: break-word;   
    background-color: #fff0f0; 
    margin: auto;    
}
.box-image {
    background-image: url('https://wallup.net/wp-content/uploads/2017/03/29/487843-Pewdiepie-YouTube-748x421.png');
    background-size: cover;       
    background-repeat: no-repeat; 
    border :2px solid #333;
    margin: 2%;
    width: 90%;
    height: auto;
}
.shadow_table {
    box-shadow: 0 0 20px rgba(255, 65, 85, 0.5); 
}
.article-font{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(91, 91, 95);

}
/* ID Selector */
#main-header {
    background-color: #f0c7c7; 
    border-bottom: 6px solid #ff4155; 
    padding-top: 20px;
    padding-bottom: 20px;
}

